<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opensmartisanos.ui.catalog">
    <application
        android:label="@string/smartisan_catalog_name"
        android:theme="@style/Theme.SmartisanUi.Catalog">
        <activity
            android:name=".CatalogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
